{% extends 'base.html.twig' %} {% block title %}Home{% endblock %} 
{% block body %} 
{% include "components/navbar.html.twig" %} 
{% include "components/home.html.twig" %}
<h1 class="text-center">Our travelers</h1>
{% include "components/travelers.html.twig" %} 
{% include "components/footer.html.twig" %} 
{% endblock %}