{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}


{% include "components/navbar.html.twig" %}

<h1 class="text-center">This is the about page</h1>

{% endblock %}