<footer class="bg-light text-center text-lg-start bg-black">
  <!-- Copyright -->
  <div class="text-center p-3 text-white" >
    © {{ "now"|date('Y', timezone="Europe/Paris") }} Copyright: Viktoria
    <a class="text-white" href="https://github.com/VikaLee1/Symfony_Day2-travel_agency.git"></a>
  </div>
  <!-- Copyright -->
</footer>