{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}


{% include "components/navbar.html.twig" %}

<h1 class="text-center">This is the page with latest news</h1>
{% endblock %}